.noteslist {
    padding-left: 30px;
    padding-right: 30px;
}

.note {
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notelist-header {
    white-space: nowrap;
    overflow: hidden;
}

.notelist-text {
    overflow: hidden;
    max-height: 100px;
}

.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus-button {
    background-color: lightblue;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noteview-container {
    padding-left: 30px;
    padding-right: 30px;
}

.noteview {
    background-color:bisque;
    min-height: 500px;
    border-radius: 10px;
    padding: 10px;
}

.search-field {
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.search-field input {
    width: calc(100% - 30px);
    margin-left: 10px;
    background: none;
    border: none;
    height: 2em;

}

.search-field input:focus {
    outline: none;
}

.noteView-header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.noteView-header div:nth-child(2) {
    display: flex;
}

.noteView-header button {
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
}

.noteView-header button:hover {
    text-decoration: underline;
}

.noteview p {
    text-wrap: wrap;
    white-space: pre-line;
}

.editview {

}

.editview-header {
    background: none;
    border: none;
    display: block;
    width: 100%;
    font-weight: inherit;
    padding: inherit;
}

.editview-header:focus {
    outline: none;
}

.editview-text {
    background: none;
    border: none;
    display: block;
    width: 100%;
    font-weight: inherit;
    padding: inherit;
    white-space: pre-wrap;
    min-height: 420px;
}

.editview-text:focus {
    outline: none;
}

.noteview p {
    margin-bottom: 8px;
}

.noteview .date {
    font-weight: lighter;
}