.noteslist {
    padding-left: 30px;
    padding-right: 30px;
}

.note {
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus-button {
    background-color: lightgray;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noteview-container {
    padding-left: 30px;
    padding-right: 30px;
}

.noteview {
    background-color:bisque;
    min-height: 500px;
    border-radius: 10px;
    padding: 10px;
}

.search-field {
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.search-field input {
    width: calc(100% - 30px);
    margin-left: 10px;
    background: none;
    border: none;
    height: 2em;

}

.search-field input:focus {
    outline: none;
}